h1{
    color: darkolivegreen; font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    outline-color: white;
}

h2{
    color:darkolivegreen; font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    outline-color: white;
    
}
